
	{% extends './layout/registration_layout.html' %}

	{% block head%}
		<style>
			.a_login {height: 50px;color:blue;font-size: 0.8em;text-align: center;}
			.a_login:hover {color:red}
		</style>
		<script type="text/javascript">
			$(document).ready(function(){
				//스타일 적용을 위한 class 제거
				$('#renewal').removeClass();
			})
		</script>
	{% endblock %}


	<!-- 컨텐츠 컨테이너 시작-->
	{% block ContentContainer %}
	<div class="container participation">
		<div class="subVisual inquiry">
			<div class="mv_content">
				<div class="text_area">
					<span>Password reset complete</span>
				</div>
			</div>
		</div>
		
		<!-- 제목 시작 -->
		{% block titleArea %}
		{% endblock %}
		<!-- //제목 종료 -->
		
		
		<!-- topmenu start -->
		{% block mainContent%}
		<div class="container my-3" >
			<form name="resetForm" method="GET" action="/common/login">
				{%csrf_token%}
				<div class="participate_area">
				    <div class="info">Your password has been set. Log in now.</div>
					<div class="btn-area">
						<button type="submit" class="btn reset">Login</button>
					</div>
				</div>
			</form>
		</div>
		{% endblock %}
	</div>
	{% endblock %}

	


