
	{% extends './layout/registration_layout.html' %}

	{% block head%}
		<style>
			.btn_reset {margin-right: 20%;background-color: #215795;border: 0;height: 50px;border-radius: 5em;color:white;padding: 0.5em 1em;font-size: 0.8em;text-align: center;}
		</style>
		<script type="text/javascript">
			$(document).ready(function(){
				//스타일 적용을 위한 class 제거
				$('#renewal').removeClass();
			})
		</script>
	{% endblock %}


	<!-- 컨텐츠 컨테이너 시작-->
	{% block ContentContainer %}
	<div class="container participation">
		<div class="subVisual inquiry" style="height: 150px;">
			<div class="mv_content">
				<div class="text_area">
					<span>Your new password has been sent</span>
				</div>
			</div>
		</div>
		
		<!-- 제목 시작 -->
		{% block titleArea %}
		{% endblock %}
		<!-- //제목 종료 -->
		
		
		<!-- topmenu start -->
		{% block mainContent%}
		<div class="container my-3" >
			<form name="resetForm" method="POST">
				{%csrf_token%}
				<div class="participate_area">
				    <div class="info">
							If the account exists, password setup instructions have been sent to the email provided by the reader. You should be able to receive it soon.<br/>
							If you do not receive the email, please check your registered email again or check your spam folder.
					</div>
				</div>
			</form>
		</div>
		{% endblock %}
	</div>
	{% endblock %}

	


