@charset "utf-8";

/* Pretendard */
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 100;
	font-style: normal;
	src: local('Pretendard GOV Thin'), local('PretendardGOV-Thin'), url('../fonts/PretendardGov/PretendardGOV-Thin.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-Thin.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-Thin.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 200;
	font-style: normal;
	src: local('Pretendard GOV ExtraLight'), local('PretendardGOV-ExtraLight'), url('../fonts/PretendardGov/PretendardGOV-ExtraLight.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-ExtraLight.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-ExtraLight.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 300;
	font-style: normal;
	src: local('Pretendard GOV Light'), local('PretendardGOV-Light'), url('../fonts/PretendardGov/PretendardGOV-Light.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-Light.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 400;
	font-style: normal;
	src: local('Pretendard GOV Regular'), local('PretendardGOV-Regular'), url('../fonts/PretendardGov/PretendardGOV-Regular.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-Regular.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 500;
	font-style: normal;
	src: local('Pretendard GOV Medium'), local('PretendardGOV-Medium'), url('../fonts/PretendardGov/PretendardGOV-Medium.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-Medium.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 600;
	font-style: normal;
	src: local('Pretendard GOV SemiBold'), local('PretendardGOV-SemiBold'), url('../fonts/PretendardGov/PretendardGOV-SemiBold.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-SemiBold.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-SemiBold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 700;
	font-style: normal;
	src: local('Pretendard GOV Bold'), local('PretendardGOV-Bold'), url('../fonts/PretendardGov/PretendardGOV-Bold.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-Bold.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 800;
	font-style: normal;
	src: local('Pretendard GOV ExtraBold'), local('PretendardGOV-ExtraBold'), url('../fonts/PretendardGov/PretendardGOV-ExtraBold.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-ExtraBold.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-ExtraBold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 900;
	font-style: normal;
	src: local('Pretendard GOV Black'), local('PretendardGOV-Black'), url('../fonts/PretendardGov/PretendardGOV-Black.woff2') format('woff2'), url('../fonts/PretendardGov/PretendardGOV-Black.woff') format('woff'), url('../fonts/PretendardGov/PretendardGOV-Black.otf') format('opentype');
}