{% extends 'aive/layout/base_layout.html' %}



            <!-- 본문 컨텐츠 시작 -->
            {% block container %}
				<!-- 컨텐츠 컨테이너 시작-->
				{% block ContentContainer %}
				<div class="container participation">
					<!-- 제목 시작 -->
					{% block titleArea %}
						<div class="subVisual inquiry">
							<div class="mv_content">
								<div class="text_area">
									<span>Sign Up</span>
								</div>
							</div>
						</div>
					
						<div class="title_area">
							<span>User informations</span>
						</div>
					{% endblock %}
					<!-- //제목 종료 -->
					
					<!-- 내용 시작 -->
					{% block mainContent%}
					
					{% endblock %}
					<!-- //내용 종료 -->
				</div>
				{% endblock %}
			{% endblock %}
			<!-- //본문 컨텐츠 종료 -->